<% layout('layouts/boilerplate') %>
<form action="/campgrounds" method="post">
  <div>
    <label for="title">Title</label>
    <input type="text" id="title" name="campground[title]" />
  </div>
  <div>
    <label for="location">Location</label>
    <input type="text" id="location" name="campground[location]" />
  </div>
  <button>Add Campground</button>
</form>
<footer>
  <a href="/campgrounds">Return to All Campgrounds</a>
</footer>
